select {
    border: 1px solid var(--gray20);
    padding-inline: .75rem;
    padding-block: .5rem;
    border-radius: .25rem;
    border-color: var(--gray20);
    font: var(--button-button);
    padding-inline-end: 2rem ;

    appearance: none;
    background-image: url('../icons/Icon=chevron-down.svg');
    background-repeat: no-repeat;
    background-position: right .5rem center;
}